.App {
  text-align: center;
  overflow: visible;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.shake-element {
  position: relative;  /* Required for movement */
  text-align: center;  /* Ensures the text is centered */
  font-size: 2;     /* Example font size for visibility */
  margin: 0 auto;      /* Center the element horizontally */
}
.app-damage {
  background: radial-gradient(
    circle,
    rgba(255,0,0,0) 0%,
    rgba(255,0,0,0.1) 25%,
    rgba(255,0,0,0.2) 50%,
    rgba(255,0,0,0.3) 100%
  );
  /*border: 5px solid red;*/
  animation: shake 0.5s ease-in-out;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  pointer-events:none;
  z-index: 9999;
  box-shadow: 0 0 15px 5px rgba(255,0,0,0.6);
}
/* Shake animation */
@keyframes shake {
  0% { transform: translateX(0); }
  12.5% { transform: translateX(5px); }
  25% { transform: translateX(-5px); }
  37.5%{ transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  62.5%{ transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  87.5%{ transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake-element.shake {
  animation: shake 0.6s ease-in-out;  /* Add shake animation */
}

.correct-guess{
  font-weight: thin;
  color: white; /* Letter color remains white */
  letter-spacing: 3px;
  text-shadow: 
    0 0 5px rgb(58, 171, 58,1), /* Outer green glow */
    0 0 8px rgb(58, 171, 58,1), /* Outer green glow */
    0 0 11px rgb(58, 171, 58,1), /* Outer green glow */
    0 0 14px rgb(58, 171, 58,1); /* Outer green glow */
}
/* Style for the letter boxes */
.letter-boxes input {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 5px;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #ccc;
  border-radius: 5px;
}


.App-link {
  color: #61dafb;
}
